//TIPOGRAFIA
$fuente_principal: 'montserrat', sans-serif;

//COLORES

$verde : #67a09d;
$rosa : #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;

//tamaño de los MIXINS de "MQ"

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;